################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DutchTreat2/DutchTreat2/bin
/DutchTreat2/DutchTreat2/obj
/DutchTreat2/DutchTreat/bin/Debug/netcoreapp2.0
/DutchTreat2/DutchTreat/obj
/DutchTreat2/.vs/DutchTreat2/v15/Server/sqlite3
