################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DutchTreat2/DutchTreat2/bin
/DutchTreat2/DutchTreat2/obj
