################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DutchTreat2/DutchTreat2/bin
/DutchTreat2/DutchTreat2/obj
/DutchTreat2/DutchTreat/bin
/DutchTreat2/DutchTreat/obj
/DutchTreat2/.vs
/DutchTreat2/DutchTreat/node_modules
/DutchTreat2/DutchTreat/wwwroot/clientapp
